@use '../../../../../../App.scss' as *;

.about-me-main-container {
    @include default-window-active-content();
    background: none;
    align-items: start;
    padding: 0;
    
    .about-me-content {
        width: 100%;
        height: 100%;
        max-width: 800px;
        margin-inline: auto;
        background-color: $neutral-color-white;
        padding-inline: 3cqw;
        padding-block: 3.5cqh;
        text-align: justify;
        text-align-last: left;
        overflow-y: auto;

        .about-me-title {
            @include font-config($fbold, $fc36px, $fdisplay, $neutral-color-dark-gray, 1);
            margin-bottom: 20px;
        }

        .about-me-paragraph {
            @include font-config($fregular, $fc18px, $fdisplay, $neutral-color-dark-gray, 1);
            margin-bottom: 24px;
            line-height: 1.8;
        }

        .about-me-paragraph:last-child {
            margin-bottom: 0;
        }
    }
}