@use '../../../../../../App.scss' as *;

.about-me-main-container {
    @include default-window-active-content();
    background: none;
    align-items: start;
    padding: 0;
    
    .about-me-content {
        @include default-about-me-contents();

        .about-me-title {
            @include font-config($fbold, $fc32px, $fdisplay, $neutral-color-dark-gray, 1);
            margin-bottom: 16px;
        }

        .about-me-paragraph {
            @include font-config($fregular, $fc18px, $fdisplay, $neutral-color-dark-gray, 1);
            margin-bottom: 24px;
            line-height: 1.8;
        }

        .about-me-paragraph:last-child {
            margin-bottom: 0;
        }
    }
}