@use '../../../../App.scss' as *;

@mixin assistant-text-boxes(){
    background-color: rgba($neutral-color-dark-gray, 0.8);
    border-radius: 8px;
    padding-block: 8px;
    padding-inline: 16px;
    width: fit-content;
    max-width: 55%;
    margin-top: 12px;
    margin-left: 20px;
}

.search-input-background{
    width: 0vw;
    height: 0vh;
    position: fixed;
    inset: 0;
    z-index: 0;
    opacity: 0;
    background-color: rgba($neutral-color-black, 0.5);
    transition: opacity 0.3s ease;
    will-change: contents;
}

.search-input-background-activated{
    width: 100vw;
    height: 100vh;
    opacity: 1;
}

.topbar-assistant-robot-container{
    position: absolute;
    top: 52px;
    right: 32px;
    width: 200px;
    height: 150px;

    .assistant-robot-container{
        position: relative;
        width: 100%;
        height: 100%;

        .search-input-container{
            width: 225px;
            height: 28px;
            position: absolute;
            z-index: 11;
            top: 20px;
            right: 115px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 14px;
            background-color: rgb(0, 216, 245);
            outline: 1px solid rgba($neutral-color-white, 0.9);
            filter: drop-shadow(0 0 12px rgba($neutral-color-dark-gray, 0.6));

            .search-input{                    
                width: 190px;
                height: 100%;
                border-radius: 14px 0 0 14px;
                border: none;
                @include font-config($fmedium, $f14px, $fdisplay, $neutral-color-medium-gray, 1); 
                padding-inline: 10px;
                background-color: rgba($neutral-color-white, 0.9);

                &:focus {
                    outline: none;
                }
            }

            .search-input-button{
                width: 35px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-right: 4px;
                border: none;
                border-radius: 0 14px 14px 0;
                background-color: rgb(0, 216, 245);
                outline: 1px solid rgb(0, 201, 228);
                cursor: pointer;
                transition: all 0.2s ease;

                &:hover{
                    background-color: rgb(15, 227, 255);
                }

                &:active{
                    background-color: rgb(0, 201, 228);
                }

                .search-input-icon{
                    height: 20px;
                    filter: brightness(0) invert(1) drop-shadow(0 0 1px rgba($neutral-color-white, 1));
                }
            }
        }

        .assistant-robot{
            position: absolute;
            z-index: 10;
            right: 0;
            width: 150px;
            height: 150px;
            filter: drop-shadow(0 0 10px rgba($neutral-color-dark-gray, 0.6));
        }
    }
}

.assistant-question-answer-container{
    min-width: 800px;
    width: 55%;
    min-height: 350px;
    height: 60%;
    display: flex;
    flex-direction: column;
    padding: 0 6px 8px 6px;
    position: fixed;
    border-radius: 8px;
    outline: 1px solid rgba($neutral-color-medium-gray, 0.2);
    box-shadow: 0 0 16px rgba($neutral-color-black, 0.9);
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba($neutral-color-black, 1);
    z-index: 12;
    animation: showAssistantWindow 0.3s ease forwards;
    will-change: contents;
    
    @keyframes showAssistantWindow {
        from{
            opacity: 0;
            transform: translateX(-50%) translateY(-40%) scale(0.8);
        }
        to{
            opacity: 1;
            transform: translateX(-50%) translateY(-50%) scale(1);
        }
    }

    .assistant-title-container{
        width: 100%;
        height: 50px;
        display: flex;
        column-gap: 8px;
        justify-content: space-between;
        align-items: center;
        padding-inline: 8px;

        .assistant-title-logo{
            height: 20px;
            margin-top: 8px;
        }

        .assistant-title{
            background-color: rgba($neutral-color-dark-gray, 0.4);
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-inline: 12px;
            border: 1px solid rgba($neutral-color-medium-gray, 0.2);
            border-bottom: none;
            border-radius: 8px 8px 0 0;
            @include font-config($fregular, $f16px, $fdisplay, $neutral-color-light-gray, 1);
            letter-spacing: 0.6px;
            align-self: flex-end;
            margin-right: auto;
        }

        .btn-close-assistant-container{
            border: none;
            width: 32px;
            height: 100%;
            background: none;
            margin-top: 7px;
            margin-left: 8px;
            cursor: pointer;                

            img{
                width: 16px;
                transition: 0.2s ease;
                &:hover {filter: drop-shadow(0 0 12px $red-button-color); }
            }
        }
    }

    .assistant-loader{
        height: 150px;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .assistant-messages-container{
        height: 100%;
        padding: 8px 0 0 0;
        background-color: rgba($neutral-color-dark-gray, 0.4);
        overflow-y: hidden;

        .assistant-terminal-user, .assistant-terminal-ai{
            @include font-config($fbold, $f15px, $fdisplay, $neutral-color-white, 1);
            margin-right: 5px;
        }
    
        .question, .answer{
            @include font-config($flight, $f14px, $fdisplay, $neutral-color-white, 1);
            line-height: 22px;
            letter-spacing: 1.2px;
        }
    
        .question-answer-container{
            padding-bottom: 16px;
            height: 100%;
            overflow-y: auto;

            .assistant-question{
                @include assistant-text-boxes();
        
                .assistant-terminal-user{
                    color: $user-question;
                    letter-spacing: 1px;
                }
            }
        
            .assistant-answer{
                @include assistant-text-boxes();
        
                .assistant-terminal-ai{
                    color: $system-answer;
                    letter-spacing: 1px;
                }
        
                .typing-cursor {
                    animation: blink 0.7s infinite;
                }
            
                @keyframes blink {
                    50% {
                        opacity: 0;
                    }
                }
            }
        }
    }

}

.assistant-question-answer-container-disabled{
    display: none;
}