@use '../../../App.scss' as *;

.dock{
    position: fixed;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    min-width: 600px;
    height: 70px;
    background-color: rgba($neutral-color-black, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    outline: 1px solid rgba(0, 0, 0, 0.2);;
    border-radius: 16px;
    box-shadow: 0 2px 15px rgba($neutral-color-dark-gray, 0.8);
}